<h1>MÁLAGA CF</h1>

<ul>
	<li><a routerLink="/prueba">Plantilla</a></li>
	<li><a target="_blank" href="https://www.malagacf.com/">Web Oficial</a></li>
	<li><a target="_blank" href="https://www.transfermarkt.es/fc-malaga/startseite/verein/1084">Transfermarkt</a></li>
	<li><a target="_blank" href="https://eldesmarque.com/malaga/malaga-cf">Noticias</a></li>
	<li><a target="_blank" href="http://www.foromalaguistas.com/">Foro</a></li>
</ul>

<router-outlet></router-outlet>


<!--
 <button (click)= "mostrar = !mostrar"> 
	{{ mostrar ? 'Mostrar': 'Ocultar' }}
</button>
-->

<!-- TABLAS con ngFor
<table class="tabla">
	<thead class="thead">
		<tr>
			<th scope="col">Posición</th>
			<th scope="col">Nombre</th>
			<th scope="col">Apellido</th>
		</tr>
	</thead>
	<tbody class="tbody">
		<tr>
			<td>{{ jugadores.posicion }}</td>
			<td>{{ jugadores.nombre }}</td>
			<td>{{ jugadores.apellido }}</td>
		</div>
		</tr>
	</tbody>	
</table> -->
