<html>
<head>
	<title>Muñiz</title>
	<link rel="shortcut icon" type="image/x-icon" href="logo.png">
</head>
<body>
	<img src="Muñiz.JPG"/>
	<br/>
	<img src="banda.jpg" width="100000" height="25" />
	<br/><br/> 
	<h3>Datos del entrenador</h3>
	<ul>
		<li><i>Nombre:</i><b>Juán Ramón López muñiz</b></li>
		<li><i>Fecha de nacimiento:</i><b>02/11/1968</b></li>
		<li><i>Nacionalidad:</i><b>Española</b></li>
		<li><i>Debut:</i><b>04/11/2004: Lorca Deportiva 2 - Málaga CF 2</b></li>
	</ul>
	<hr/>
	<img src="Muñiz1.JPG" /><br/><br/>
	Liderazgo, constancia, trabajo y alcanzar los objetivos definen a un entrenador que cumple su cuarta etapa en el Club. Primero como ayudante de Juande Ramos (2003/04) y luego como director deportivo y entrenador (2006-08), logrando una permanencia en Segunda y un histórico ascenso a Primera División. En la 2009/10 regresó y mantuvo la categoría en la élite. Su nuevo contrato con el Málaga CF se extiende hasta la temporada 2019/20.
	<hr/>
	<h4>Trayectoria</h4>
	<ol><li>2003-04: <b>Málaga CF</b> (segundo entrenador)</li>
		<li>2006: <b>UD Marbella</b></li>
		<li>2006-08: <b>Málaga CF</b></li>
		<li>2008-09: <b>Real Racing Club de Saantander</b></li>
		<li>2009-10: <b>Málaga CF</b></li>
		<li>2010-14: <b>Dnipro</b> (segundo entrenador)</li>
		<li>2015-16: <b>Alcorcón</b></li>
		<li>2006-18: <b>Levante UD</b></li>
		<li>2018-Actualidad: <b>Málaga CF</b></li></ol>
	<hr/>
		<h4>Palmarés</h4>
		<table>
		<tr>
			<td><b>Temporada</b></td>
			<td><b>__Equipo</b></td>
			<td><b>__Título</b></td>
		</tr>
		<tr>
			<td>2016-17</td>
			<td>_Levante UD</td>
			<td>_Ascenso a Primera división (1º puesto)</td>
		</tr>
		<tr>
			<td>2007-08</td>
			<td>_Málaga CF</td>
			<td>_Ascenso Primera división (2º Puesto)</td>
		</tr>
		</table>
</body>
</html>